bonaparte-xml-test/src/generated/resources/xsd/lib/test_jaxbtemporal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- autogenerated by bonaparte DSL -->
<xs:schema targetNamespace="http://www.jpaw.de/schema/test_jaxbtemporal.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:bon="http://www.jpaw.de/schema/bonaparte.xsd"
  xmlns:test_jaxbtemporal="http://www.jpaw.de/schema/test_jaxbtemporal.xsd"
  elementFormDefault="qualified"
  >

    <xs:import namespace="http://www.jpaw.de/schema/bonaparte.xsd" schemaLocation="bonaparte.xsd"/>
    <xs:complexType name="TestFieldXml">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="myDate" minOccurs="0" nillable="true" type="xs:date"/>
                    <xs:element name="myDateTime" minOccurs="0" nillable="true" type="xs:dateTime"/>
                    <xs:element name="myTime" minOccurs="0" nillable="true" type="xs:time"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TestPropXml">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="myDate" minOccurs="0" nillable="true" type="xs:date"/>
                    <xs:element name="myDateTime" minOccurs="0" nillable="true" type="xs:dateTime"/>
                    <xs:element name="myTime" minOccurs="0" nillable="true" type="xs:time"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
