bonaparte-xml-test/src/generated/resources/xsd/lib/xenumJaxb.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- autogenerated by bonaparte DSL -->
<xs:schema targetNamespace="http://www.jpaw.de/schema/xenumJaxb.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:bon="http://www.jpaw.de/schema/bonaparte.xsd"
  xmlns:xenumJaxb="http://www.jpaw.de/schema/xenumJaxb.xsd"
  elementFormDefault="qualified"
  >

    <xs:import namespace="http://www.jpaw.de/schema/bonaparte.xsd" schemaLocation="bonaparte.xsd"/>
    <xs:simpleType name="TestEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RED"/>
            <xs:enumeration value="GREEN"/>
            <xs:enumeration value="BLUE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TestXmlXenumWithAdapter">
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="XEnumUse">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="daddel" type="xenumJaxb:TestXmlXenumWithAdapter"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
