bonaparte-api-auth/src/generated/resources/xsd/lib/api_auth.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- autogenerated by bonaparte DSL -->
<xs:schema targetNamespace="http://www.jpaw.de/schema/api_auth.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:bon="http://www.jpaw.de/schema/bonaparte.xsd"
  xmlns:api_auth="http://www.jpaw.de/schema/api_auth.xsd"
  xmlns:api="http://www.jpaw.de/schema/api.xsd"
  elementFormDefault="qualified"
  >

    <xs:import namespace="http://www.jpaw.de/schema/bonaparte.xsd" schemaLocation="bonaparte.xsd"/>
    <xs:import namespace="http://www.jpaw.de/schema/api.xsd" schemaLocation="api.xsd"/>
    <xs:simpleType name="UserLogLevelType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="STEALTH"/>
            <xs:enumeration value="SESSION_ONLY"/>
            <xs:enumeration value="SESSION_WITH_COUNTS"/>
            <xs:enumeration value="MESSAGE_ENTRY"/>
            <xs:enumeration value="REQUESTS"/>
            <xs:enumeration value="FULL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="JwtFieldName">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ISSUER"/>
            <xs:enumeration value="SUBJECT"/>
            <xs:enumeration value="EXPIRATION"/>
            <xs:enumeration value="NOT_BEFORE"/>
            <xs:enumeration value="ISSUED_AT"/>
            <xs:enumeration value="JSON_TOKEN_IDENTIFIER"/>
            <xs:enumeration value="NAME"/>
            <xs:enumeration value="LOCALE"/>
            <xs:enumeration value="ZONEINFO"/>
            <xs:enumeration value="TENANT_ID"/>
            <xs:enumeration value="TENANT_REF"/>
            <xs:enumeration value="SESSION_REF"/>
            <xs:enumeration value="USER_REF"/>
            <xs:enumeration value="ROLE_REF"/>
            <xs:enumeration value="SESSION_ID"/>
            <xs:enumeration value="QUOTA"/>
            <xs:enumeration value="LOG_LEVEL_OK"/>
            <xs:enumeration value="LOG_LEVEL_ERR"/>
            <xs:enumeration value="RESOURCE_FILTER"/>
            <xs:enumeration value="RESOURCE_IS_WILDCARD"/>
            <xs:enumeration value="PERMISSION_MIN"/>
            <xs:enumeration value="PERMISSION_MAX"/>
            <xs:enumeration value="CUSTOM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Permissionset">
        <xs:list itemType="api:OperationType"/>
    </xs:simpleType>
    <xs:simpleType name="PermissionsetAlpha">
        <xs:list itemType="api:OperationType"/>
    </xs:simpleType>
    <xs:simpleType name="resourceId">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Jwt" block="#all" final="#all">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="alg" type="api_auth:JwtAlg"/>
                    <xs:element name="payload" type="api_auth:JwtPayload"/>
                    <xs:element name="sig">
                        <xs:simpleType>
                            <xs:restriction base="xs:base64Binary">
                                <xs:maxLength value="32"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="JwtAlg" block="#all" final="#all">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="typ">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="3"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="alg">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="16"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="cty" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="3"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="JwtInfo">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="issuer" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="userId" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="audience" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="expiresAt" minOccurs="0" nillable="true" type="xs:long"/>
                    <xs:element name="notBefore" minOccurs="0" nillable="true" type="xs:long"/>
                    <xs:element name="issuedAt" minOccurs="0" nillable="true" type="xs:long"/>
                    <xs:element name="jsonTokenIdentifier" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="name" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="locale" minOccurs="0" nillable="true" type="api:languageTag"/>
                    <xs:element name="zoneinfo" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="64"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="tenantId" minOccurs="0" nillable="true" type="api:genericId"/>
                    <xs:element name="tenantRef" minOccurs="0" nillable="true" type="xs:long"/>
                    <xs:element name="sessionRef" minOccurs="0" nillable="true" type="xs:long"/>
                    <xs:element name="userRef" minOccurs="0" nillable="true" type="xs:long"/>
                    <xs:element name="roleRef" minOccurs="0" nillable="true" type="xs:long"/>
                    <xs:element name="sessionId" minOccurs="0" nillable="true" type="bon:UUID"/>
                    <xs:element name="quota" minOccurs="0" nillable="true" type="xs:int"/>
                    <xs:element name="logLevel" minOccurs="0" nillable="true" type="api_auth:UserLogLevelType"/>
                    <xs:element name="logLevelErrors" minOccurs="0" nillable="true" type="api_auth:UserLogLevelType"/>
                    <xs:element name="resource" minOccurs="0" nillable="true" type="api_auth:resourceId"/>
                    <xs:element name="resourceIsWildcard" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="permissionsMin" minOccurs="0" nillable="true" type="api_auth:Permissionset"/>
                    <xs:element name="permissionsMax" minOccurs="0" nillable="true" type="api_auth:Permissionset"/>
                    <xs:element name="z" minOccurs="0" nillable="true" type="bon:JSON"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="JwtPayload">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="iss" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="sub" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="aud" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="exp" minOccurs="0" nillable="true" type="xs:long"/>
                    <xs:element name="nbf" minOccurs="0" nillable="true" type="xs:long"/>
                    <xs:element name="iat" minOccurs="0" nillable="true" type="xs:long"/>
                    <xs:element name="jti" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="name" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="locale" minOccurs="0" nillable="true" type="api:languageTag"/>
                    <xs:element name="zoneinfo" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="64"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="i" minOccurs="0" nillable="true" type="api:genericId"/>
                    <xs:element name="t" minOccurs="0" nillable="true" type="xs:long"/>
                    <xs:element name="s" minOccurs="0" nillable="true" type="xs:long"/>
                    <xs:element name="u" minOccurs="0" nillable="true" type="xs:long"/>
                    <xs:element name="r" minOccurs="0" nillable="true" type="xs:long"/>
                    <xs:element name="o" minOccurs="0" nillable="true" type="bon:UUID"/>
                    <xs:element name="q" minOccurs="0" nillable="true" type="xs:int"/>
                    <xs:element name="l" minOccurs="0" nillable="true" type="api_auth:UserLogLevelType"/>
                    <xs:element name="e" minOccurs="0" nillable="true" type="api_auth:UserLogLevelType"/>
                    <xs:element name="p" minOccurs="0" nillable="true" type="api_auth:resourceId"/>
                    <xs:element name="w" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="pl" minOccurs="0" nillable="true" type="api_auth:Permissionset"/>
                    <xs:element name="pu" minOccurs="0" nillable="true" type="api_auth:Permissionset"/>
                    <xs:element name="z" minOccurs="0" nillable="true" type="bon:JSON"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
