bonaparte-api-media/src/generated/resources/xsd/lib/api_media.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- autogenerated by bonaparte DSL -->
<xs:schema targetNamespace="http://www.jpaw.de/schema/api_media.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:bon="http://www.jpaw.de/schema/bonaparte.xsd"
  xmlns:api_media="http://www.jpaw.de/schema/api_media.xsd"
  elementFormDefault="qualified"
  >

    <xs:import namespace="http://www.jpaw.de/schema/bonaparte.xsd" schemaLocation="bonaparte.xsd"/>
    <xs:simpleType name="MediaType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BONAPARTE"/>
            <xs:enumeration value="XML"/>
            <xs:enumeration value="JSON"/>
            <xs:enumeration value="NULL"/>
            <xs:enumeration value="COMPACT_BONAPARTE"/>
            <xs:enumeration value="XLS"/>
            <xs:enumeration value="XLSX"/>
            <xs:enumeration value="CSV"/>
            <xs:enumeration value="JSONL"/>
            <xs:enumeration value="YAML"/>
            <xs:enumeration value="TEXT"/>
            <xs:enumeration value="HTML"/>
            <xs:enumeration value="XHTML"/>
            <xs:enumeration value="CSS"/>
            <xs:enumeration value="MARKDOWN"/>
            <xs:enumeration value="TEX"/>
            <xs:enumeration value="LATEX"/>
            <xs:enumeration value="URL"/>
            <xs:enumeration value="PDF"/>
            <xs:enumeration value="DVI"/>
            <xs:enumeration value="POSTSCRIPT"/>
            <xs:enumeration value="DOCX"/>
            <xs:enumeration value="PPTX"/>
            <xs:enumeration value="JPG"/>
            <xs:enumeration value="PNG"/>
            <xs:enumeration value="GIF"/>
            <xs:enumeration value="TIFF"/>
            <xs:enumeration value="WEBP"/>
            <xs:enumeration value="SVG"/>
            <xs:enumeration value="WAV"/>
            <xs:enumeration value="MP3"/>
            <xs:enumeration value="FLAC"/>
            <xs:enumeration value="MPG"/>
            <xs:enumeration value="MP4"/>
            <xs:enumeration value="RAW"/>
            <xs:enumeration value="USER_DEFINED"/>
            <xs:enumeration value="UNDEFINED"/>
            <xs:enumeration value="TAR"/>
            <xs:enumeration value="ZIP7"/>
            <xs:enumeration value="ZIP"/>
            <xs:enumeration value="GZIP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MediaStorageLocation">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FILE"/>
            <xs:enumeration value="WEB"/>
            <xs:enumeration value="S3"/>
            <xs:enumeration value="AZURE"/>
            <xs:enumeration value="GCS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MediaCategory">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHER"/>
            <xs:enumeration value="AUDIO"/>
            <xs:enumeration value="VIDEO"/>
            <xs:enumeration value="IMAGE"/>
            <xs:enumeration value="RECORDS"/>
            <xs:enumeration value="TEXT"/>
            <xs:enumeration value="DOCUMENT"/>
            <xs:enumeration value="CONTAINER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EnumOutputType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEFAULT"/>
            <xs:enumeration value="TOKEN"/>
            <xs:enumeration value="NAME"/>
            <xs:enumeration value="DESCRIPTION"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MediaXType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MediaXStorageLocation">
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MediaTypeDescriptor" block="#all" final="#all">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="mediaType" type="api_media:MediaXType"/>
                    <xs:element name="defaultFileExtension">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="formatCategory" type="api_media:MediaCategory"/>
                    <xs:element name="isText" type="xs:boolean"/>
                    <xs:element name="mimeType">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="64"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="additionalExtensions" minOccurs="0" maxOccurs="unbounded">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MediaData" block="#all" final="#all">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="mediaType" type="api_media:MediaXType"/>
                    <xs:element name="text" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="8000000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="rawData" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:base64Binary">
                                <xs:maxLength value="8000000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="z" minOccurs="0" nillable="true" type="bon:JSON"/>
                    <xs:element name="mediaStorageLocation" minOccurs="0" nillable="true" type="api_media:MediaXStorageLocation"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
